.reviews i {
  font-size: 12px;
  padding: 0 10px;
}
.reviews h6 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}
.cNNJIt {
  display: none;
}
.jRFJkP {
  display: none;
}
.jRFJkP {
  background: #000;
  border-radius: 10px;
}
.lcUbOd:hover,
.lcUbOd:focus {
  cursor: pointer;
  box-shadow: 0 0 1px 3px rgb(17, 17, 17);
}
.lcUbOd:hover,
.lcUbOd:focus {
  cursor: pointer;
  box-shadow: 0 0 1px 3px rgb(22, 22, 22);
}
